<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325746831998-14eh72dor89rjj0dl75fd0l8nsg9tn35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325746831998-14eh72dor89rjj0dl75fd0l8nsg9tn35</string>
	<key>API_KEY</key>
	<string>AIzaSyCQJvfPMdFG0ksZ0VDxWw0H5H3X465L-T0</string>
	<key>GCM_SENDER_ID</key>
	<string>325746831998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled4</string>
	<key>PROJECT_ID</key>
	<string>top-science-8fd65</string>
	<key>STORAGE_BUCKET</key>
	<string>top-science-8fd65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325746831998:ios:96e9446174cef32a82de2f</string>
</dict>
</plist>